<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer - Results</title>
  </head>
  <body>
    <h1>Results in Pig Latin:</h1>
    <h2><%= @piglatin %></h2>
  </body>
</html>
